.hide {
  display: none;
}

.automatempBlock {
  margin-top: 40px;
  width: 100%;
}

.automatempBlock__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
}

.automatempBlock__logoButton {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.automatempBlock__logo__link {
  display: flex;
}

.automatempBlock__logo1 {
  max-width: 25px;
}

.automatempBlock__logo2 {
  max-width: 109px;
  margin-left: 10px;
}

.automatemp__logoButton__button {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: #BA2CA6;
  padding: 12px 36px;
  border: 1.5px solid #BA2CA6;
  border-radius: 6px;
  transition: all .3s;
}

.automatemp__logoButton__button:hover {
  color: #fff;
  background-color: #BA2CA6;
  transition: all .3s;
}

.automatempBlock__items {
  width: 100%;
  padding: 0 15px 0 0;
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-column-gap: 20px;
  grid-row-gap: 14px;
  margin-bottom: 15px;
  overflow-x: auto;
}

.automatempBlock__item {
  width: 250px;
}

.automatempBlock__item__inner {
  display: flex;
  justify-content: space-between;
  padding: 12px 17px 12px 15px;
  background-color: #F4F4F8;
  border-radius: 3px;
}

.automatempBlock__item__img {
  width: 35px;
  height: 46px;
}

.automatempBlock__item__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  line-height: 13px;
  padding-left: 10px;
}

.automatempBlock__item__box1 {
  width: 155px;
}

.automatempBlock__item__title {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;
  padding-right: 5px;
  text-overflow: ellipsis;
  padding-bottom: 2px;
}

.automatempBlock__item__label {
  font-weight: 500;
  color: #77767D;
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;
  padding-right: 5px;
  text-overflow: ellipsis;
  padding-bottom: 2px;
}

.automatempBlock__item__addition {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-weight: 700;
}

.automatempBlock__item__price {
  font-weight: 700;
  margin-right: 12px;
}

.automatempBlock__item__time {
  font-weight: 500;
  margin-right: 24px;
}

.automatempBlock__item__place {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-weight: 700;
  background: #BA2CA6;
  border: 2px solid #BA2CA6;
  color: #fff;
  text-align: center;
}

.automatempBlock__item__share {
  width: 14px;
  height: 14px;
}

.automatempBlock__wholeAuction {
  border-bottom: 1px dashed;
  font-size: 16px;
  line-height: 22px;
  border-color: initial;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  color: #242424;
  border-color: rgba(134, 134, 149, .4);
  font-size: 14px;
  line-height: 20px;
}

.categoryPriority {
  border-radius: 10px;
}

.categoryPriority__inner {
  padding: 22px 0px;
}

.categoryPriority__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  color: #242424;
  margin-bottom: 30px;
}

.categoryPriority__table {
  font-size: 14px;
  border-collapse: separate;
  border-spacing: 0 5px;
  text-align: left;
  width: 100%;
  overflow: auto;
}

.categoryPriority__wrapper1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoryPriority__deliveryTime__box {
  display: flex;
  flex-direction: column;
}

.categoryPriority__deliveryTime__item {
  padding: 14px 24px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* margin-bottom: 50px; */
}

.categoryPriority__deliveryTime__item__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
}

.categoryPriority__deliveryTime__item__time {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #367920;
}

.categoryPriority__deliveryTime__item+.categoryPriority__deliveryTime__item {
  margin-top: 26px;
}

@media (max-width: 1024px) {
  .categoryPriority__wrapper1 {
    align-items: self-start;
    flex-direction: column;
  }

  .categoryPriority__deliveryTime__box {
    flex-direction: row;
  }

  .categoryPriority__deliveryTime__item {
    margin-bottom: 50px;
  }

  .categoryPriority__deliveryTime__item+.categoryPriority__deliveryTime__item {
    margin-left: 30px;
    margin-top: 0;
  }
}

.categoryPriority__table1 {
  width: 540px;
  margin-bottom: 50px;
}

.categoryPriority__thead__th {
  padding-bottom: 11px;
}

.categoryPriority__tbody__tr {
  background: #F4F4F8;
}

.categoryPriority__tbody__td:first-child,
.categoryPriority__thead__th:first-child {
  padding-left: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.categoryPriority__tbody__td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.categoryPriority__tbody__td {
  padding: 15px 0 16px;
  min-width: 150px;
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 10px;
}

.red__time {
  color: #FF0000;
}

.categoryPriority__wrapper2 {
  overflow: auto;
  position: relative;
}

.categoryPriority__wrapper2__topbox {
  display: flex;
  justify-content: space-between;
}

.categoryPriority__checkbox__box {
  display: flex;
  align-items: flex-start;
}

.categoryPriority__checkbox__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.categoryPriority__checkbox {
  display: inline-block;
  height: 15px;
  line-height: 28px;
  margin-right: 10px;
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  user-select: none;
  transform: translateY(3px);
}

.categoryPriority__checkbox .categoryPriority__switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 27px;
  height: 15px;
  /* border: 1px solid rgba(0, 0, 0, .1); */
  border-radius: 25%/50%;
  vertical-align: top;
  background: #D1CFD6;
  transition: .2s;
}

.categoryPriority__checkbox .categoryPriority__switch:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  transition: .15s;
}

.categoryPriority__checkbox input[type=checkbox] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.categoryPriority__checkbox input[type=checkbox]:not(:disabled):active+.categoryPriority__switch:before {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
}

.categoryPriority__checkbox input[type=checkbox]:checked+.categoryPriority__switch {
  background: #BA2CA6;
}

.categoryPriority__checkbox input[type=checkbox]:checked+.categoryPriority__switch:before {
  transform: translateX(14px);
}

/* Hover */
.categoryPriority__checkbox input[type="checkbox"]:not(:disabled)+.categoryPriority__switch {
  cursor: pointer;
  border-color: rgba(0, 0, 0, .3);
}

/* Disabled */
.categoryPriority__checkbox input[type=checkbox]:disabled+.categoryPriority__switch {
  filter: grayscale(70%);
  border-color: rgba(0, 0, 0, .1);
}

.categoryPriority__checkbox input[type=checkbox]:disabled+.categoryPriority__switch:before {
  background: #eee;
}

/* Focus */
.categoryPriority__checkbox.focused .categoryPriority__switch:before {
  box-shadow: inset 0px 0px 4px #ff5623;
}

.categoryPriority__table2 {
  width: auto;
  padding-right: 5px;
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  max-height: 700px;
}

.categoryPriority__thead {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
}

.categoryPriority__tbody__td__withimg {
  position: relative;
}

.categoryPriority__tbody__td__img {
  position: absolute;
  width: 22px;
  height: 29px;
  top: 20%;
  left: 15px;
}

.categoryPriority__tbody__tr__notactive {
  background-color: #F9E1E1;
}

.automatempBlock__card__block {
  margin-top: 50px;
}

.automatempBlock__card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #242424;
  margin-bottom: 30px;
}

.automatempBlock__card__list {
  display: flex;
  flex-wrap: wrap;
}


.automatempBlock__card__list__item {
  font-style: normal;
  font-weight: regular;
  font-size: 14px;
  line-height: 18px;
  padding: 10px;
  color: #000000;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.automatempBlock__promo__card__img {
  border: 3px solid #B92DA8;
}


@media (min-width: 1024px) {
  .product-card .product-card__img {
    border-radius: 12px !important;
  }
}


#options {
  display: flex;
  flex-direction: column;
}

#automatempSertif {
  margin-top: 27px;
  display: flex;
  align-items: center;
}

.automatempSertif__btn__img__block {
  margin-left: 17px;
  display: flex;
}

.automatempSertif__btn__img__block a:hover {
  border: none !important;
}

.automatempSertif__mini__btn+.automatempSertif__mini__btn {
  margin-left: 10px;
}

.automatempSertif__mini__btn {
  width: 36px;
  height: 36px;
}

.automatempSertif__mini__btn::before {
  display: block;
  width: 36px;
  height: 36px;
  background-size: 20px;
  content: '';
  background-color: rgba(12, 180, 119, .12);
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%230CB477%22%20d%3D%22M13.481%204.202c-.047-.948-.869-1.599-1.793-1.82C10.4%202.075%209.215%201.47%208.36.945a2.643%202.643%200%200%200-2.718%200c-.856.524-2.041%201.13-3.33%201.437-.923.221-1.745.872-1.792%201.82C.384%206.93.84%2012.446%206.139%2015.54c.53.31%201.191.31%201.722%200%205.298-3.094%205.755-8.61%205.62-11.338Z%22%2F%3E%3Cpath%20stroke%3D%22%23fff%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20stroke-width%3D%221.5%22%20d%3D%22m10.042%206-3.84%203.958L4.5%208.208%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
}

.automatempSertif__info__btn::before {
  background-image: url('https://4947.ru/wb_extension/images/info_btn.svg');
  background-color: #E5F0FF;
  background-size: cover;

}

.autmatemp__unitEconom__block {
  margin-top: 80px;
  order: 4;
  width: 100%;
}

.automatemp__unitEconom__title {
  margin-bottom: 25px;
}

.automatemp__unitEconom__table__title {
  margin-top: 30px;
  font-weight: 600;
  font-size: 14px;
}

#automatemp__collapsable {
  max-height: 224px;
}

.automatemp__unitEconom__select {
  width: 220px;
  padding: 9px 10px 9px 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #000;
  font-weight: 500;
  border: 1px solid #D1CFD6;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin-bottom: -15px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.automatemp__unitEconom__select::before {
  display: none;
}

@media (max-width: 1024px) {
  .automatemp__unitEconom__select {
    margin-bottom: 10px;
  }
}

.automatemp__unitEconom__select option {
  cursor: pointer;
  font-size: 14px;
}


.loaderCert-automatemp {
  width: 80px;
  height: 80px;
  border: 5px solid #FFF;
  border-bottom-color: #cb11ab;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  margin-left: 40%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.automatemp-modalCert {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.automatemp-modalCert_content {
  background-color: #fefefe;
  left: 50%;
  padding: 30px 40px;
  max-width: 700px;
  border-radius: 20px;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  height: 700px;
  display: flex;
  flex-direction: column;
}

#automatemp_CertClose {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  height: 35px;
  width: 35px;
  font-size: 35px;
  color: #9D9DA4;
}

.automatemp-modalCert--content .loaderCert-automatemp {
  position: absolute;
  top: 45%;
  left: 4%;
}

.automatemp-modalCert__title__box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.automatemp-modalCert--title {
  font-weight: 700;
  margin-left: 20px;
}

ul.automatemp-modalCert--content li {
  clear: both;
}

ul.automatemp-modalCert--content li span:first-child {
  float: left;
  padding: 0 .4em 0 0;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  color: #8C8C9A;
  margin-bottom: 10px;
}

ul.automatemp-modalCert--content li span+span {
  float: right;
  padding: 0 0 0 .4em;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #242424;
  max-width: 250px;
  text-align: right;
}

ul.automatemp-modalCert--content li:after {
  content: "";
  display: block;
  overflow: hidden;
  height: 1em;
  border-bottom: 1px dashed #D7D8DF;
}

.automatemp-modalCert__btn-base {
  margin-top: 40px;
  max-width: 235px;
  position: absolute !important;
  left: 40px;
}

.automatemp__feedbacks-btn {
  width: 100%;
  margin-top: 10px;
}

.automatemp__feedbacks-btn__link-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.automatemp__feedbacks-btn__link-box__logo-box {
  max-width: 34px;
  margin-right: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.automatemp__feedbacks-btn__link-box__title-box {
  max-width: 151px;
}

.automatemp__feedbacks-btn__link-box__descr {
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;

  color: #000000;
}

.automatemp__feedbacks-calc {
  margin-top: 70px;
}

.automatemp__feedbacks-calc__title {
  font-size: 24px;
}

.automatemp__feedbacks-calc__title {
  margin-bottom: 30px;
}

.automatemp__feedbacks-calc__ratebox-items {
  margin-bottom: 40px;
}

.automatemp__feedbacks-calc__ratebox-item {
  display: grid;
  grid-template-columns: 130px auto;
  align-items: center;
}

.automatemp__feedbacks-calc__ratebox-item__rating {
  font-size: 16px;
  margin-left: 22px;
}

.automatemp__feedbacks-calc__ratebox-item__ratingCount {
  font-size: 16px;
  font-weight: 400;
  color: #868695;
}

details summary::marker {
  font-size: 0;
}

details {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

details+details {
  margin-top: 80px;
}

summary {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-right: 90px;
}

details>summary:after {
  content: "+";
  position: absolute;
  font-size: 30px;
  font-weight: 400;
  width: auto;
  height: auto;
  right: 0;
  top: 0;
  transition: all .3s;
}

details[open]>summary:after {
  transform: rotate(45deg);
  transition: all .3s;
}

.automatemp__feedbacks-calc--adaptive {
  margin-top: 20px;
}

#warehousesBlock {
  margin-top: 40px;
}

.automatemp__warehouses-details>.automatemp__warehouses-summary:after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-right: 2px solid #b9b9c1;
  border-bottom: 2px solid #b9b9c1;
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -6px;
  box-sizing: content-box;
  transform-origin: 7px 7px;
  transform: rotate(45deg);
  transition: all .3s ease 0s;
}

.automatemp__warehouses-details[open]>.automatemp__warehouses-summary:after {
  transform: rotate(225deg);
}

.automatemp__warehouses-radio {
  background: #F1F1F5;
  padding: 4px;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 290px;
  height: 37px;
}

.automatemp__warehouses-radio input {
  width: auto;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 4px 8px;
  background: #454857;
  color: #000;
  font-size: 14px;
  font-weight: 510;
  line-height: 0;
  width: 147px;
  height: 31px;
  background-color: transparent;
  margin: 0;
  position: relative;
}

.automatemp__warehouses-radio input:checked {
  background-color: #fff;
}

.automatemp__warehouses-radio input:before {
  content: attr(label);
  display: inline-block;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
}

.automatemp__warehouses-table {
  margin-top: 23px;
  width: 95%;
}

.automatemp__warehouses-table__tbody tr {
  border-bottom: 1px solid #E8E8E8;
}

.automatemp__warehouses-table__tbody tr:last-child{
  border-bottom: none;
  margin-bottom: 0;
}

.automatemp__warehouses-table__tbody-td {
  font-size: 14px;
  line-height: 17px;
  color: #000;
  padding-right: 5px;
  padding-bottom: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.automatemp__warehouses-table__tbody-td--regular {
  max-width: 160px;
}

.automatemp__warehouses-table__tbody-td--bold {
  font-weight: 510;
  max-width: 160px;
}

.automatemp__warehouses-table__tbody-td--lite {
  font-weight: 510;
  color: #919191;
}